:root {
    --primary-color: #1B1B1B;
    --secondary-color: #F6F6F6;
    --accent-color: #333;
    --font-primary: "Nevoa", sans-serif;
    --font-secondary: "Yorkten", serif;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}






h1:hover {
    color: red;
}


h2 {
    font-size: 24px;
}

.hero_section {
    color: blue;
}

h1,
h2,
h3,
.title #hero_section {
    font-family: Arial, sans-serif;
}

/*          ../ für raus aus dem Ordner
            ./ für im Ordner bleiben     */


/* ====================== */
/* Element Styles */
/* ====================== */


/* classe für buttonclass="btn" */

/* .btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkorange;
} */


/* ====================== */
/* Import */
/* ====================== */





/* ====================== */
/* Typography */
/* ====================== */


h1,
h2,
h3 {
    font-family: "Nevoa";
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    font-size: 48px;
    margin: 0%;
}

h4,
p {
    font-family: "Yorkten";
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    font-size: 20px;
    margin: 0%;

}

h1 {
    font-size: 64px;
    text-align: center;
}



/* ====================== */
/* Colours */
/* ====================== */

body {
    background-color: #1B1B1B;
    color: #F6F6F6;
}


/* ====================== */
/* Images */
/* ====================== */





.hero_image img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    /* Bild wird zugeschnitten, nicht verzerrt */
}

.image_container_content {
    display: grid;
    place-items: center;
    width: 100%;
}

.two-col .image_container_content img {
    width: 60%; /* oder weniger */
    height: auto;
    object-fit: cover;
}



/* ====================== */
/* Grid */
/* ====================== */


body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 64px;
    width: 80%;
    margin: 0 auto 32px auto;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 64px;
}

.text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}




/* ====================== */
/* Lines */
/* ====================== */

.divider {
    height: 2px;
    background-color: #333;
    width: 80%;
    margin: 0px auto 32px auto;
}







/* Standard: gilt für ALLE Bildschirme (also zuerst Mobile) */
.box {
    font-size: 14px;
    padding: 10px;
}

/* Ausnahme: NUR wenn Bildschirm ≥ 768px (Tablet/Desktop) */
@media (min-width: 768px) {
    .box {
        font-size: 18px;
        padding: 20px;
    }
}