/* ------------ RESET ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    border: 0.5px solid red; /* zum debuggen */
}


:root {
    --primary-color: #1B1B1B;
    --secondary-color: #F6F6F6;
    --accent-color: #F59032;
    --font-primary: "Nevoa", sans-serif;
    --font-secondary: "Yorkten", serif;
    --spacing-xs: 8px;
    /* .box padding */
    --spacing-sm: 16px;
    /* header padding, media query .box padding */
    --spacing-md: 24px;
    /* .text gap */
    --spacing-lg: 32px;
    /* .gallery_wrapper gap, .divider margin */
    --spacing-xl: 64px;
    /* .two-col gap, .one-col gap */
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: var(--spacing-sm);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/*          ../ für raus aus dem Ordner
            ./ für im Ordner bleiben     */


/* ====================== */
/* Element Styles */
/* ====================== */


/* classe für buttonclass="btn" */

/* .btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkorange;
} */


/* ====================== */
/* Import */
/* ====================== */





/* ====================== */
/* Typography */
/* ====================== */


h1,
h2,
h3 {
    font-family: var(--font-primary);
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    margin: 0%;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 48px;
}

h3,
p {
    font-family: var(--font-secondary);
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    font-size: 20px;
    margin: 0%;
}




/* ====================== */
/* Colours */
/* ====================== */

body {
    background-color: #1B1B1B;
    color: #F6F6F6;
}


/* ====================== */
/* Images */
/* ====================== */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.image_container_content {
    display: grid;
    justify-self: center;
    width: 80%;
    height: 80%;
}

/* .image_container_gallery {
    display: grid;
    place-items: center;
    width: 100%;
    padding: var(--spacing-lg);
    margin: 0;
} */


/* ====================== */
/* Grid / Layout */
/* ====================== */


.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    gap: var(--spacing-xl);
    width: 80%;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    gap: var(--spacing-xl);
    text-align: center;
}

.two-col.reverse> :first-child {
    order: 2;
}

.text {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}



.gallery_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    gap: var(--spacing-sm);
    grid-column-start: 1;
    grid-column-end: -1;
}



/* ====================== */
/* Hero Section */
/* ====================== */


.hero_image_container {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}

.hero_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--primary-color), transparent);
    pointer-events: none;
}

.name_hero {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: var(--font-primary);
    font-size: 14vw;
    font-weight: 400;
    line-height: 11vw;
    color: var(--secondary-color);
    opacity: 0.6;
    
    line-height: 0.85;
    text-align: center;
    letter-spacing: 0.05em;
    
    word-break: break-all;
    width: 40%;
    

}



/* ====================== */
/* Lines */
/* ====================== */

.divider {
    height: 1px;
    background-color: var(--secondary-color);
    width: 80%;
    margin: 0px auto var(--spacing-lg) auto;
}



/* ====================== */
/* buttons */
/* ====================== */

button {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 300;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    padding: 12px 24px;
    cursor: pointer;
}


button svg {
    height: 16px;
    width: 32px;
    stroke: var(--secondary-color);
    stroke-width: 2px;
    fill: none;
}


button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: all 0.2s ease;
    
}

button:hover svg {
    stroke: var(--primary-color);
    fill: none;
}

button:active {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transform: translateY(1px) scale(0.99);
    transition: all 0.1s ease;
}
  
  button:focus {
  outline: 2px solid var(--accent-color);

}
