h1 { 
  background-color: green;
}

h1:hover {
  color: red;
}


h2{ 
    font-size: 24px;
}

.hero_section {
    color: blue;
}


h2,
h3,
.title
#hero_section {
    font-family: Arial, sans-serif;
}

/*          ../ für raus aus dem Ordner
            ./ für im Ordner bleiben     */


/* ====================== */
/* Element Styles */
/* ====================== */


/* classe für buttonclass="btn" */

.btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkorange;
}   


/* ====================== */
/* Import */
/* ====================== */





/* ====================== */
/* Grid */
/* ====================== */


.content {
  display: grid;
  grid-template-columns: 1fr;       /* 2 equal columns */
  justify-content: center;          /* center horizontally */
  align-items: start;               /* align content to the top */
  gap: 0px;                     /* space between columns */
}




.content {
    display: grid;
  grid-template-columns: 1fr 1fr;   /* 2 equal columns */
  width: 100vw;
  height: 100vh;;  
  justify-content: center;          /* center horizontally */
  align-items: start;               /* align content to the top */
  gap: 20px;                        /* space between columns */
}




/* ====================== */
/* Lines */
/* ====================== */

.divider {
  height: 2px;
  background-color: #333;
  width: 80%;
  margin: 20px auto;
}